---
import SettingsMenu from "./SettingsMenu.astro";
---

<footer class="footer">
  <div class="controls">
    <SettingsMenu/>
  </div>
</footer>

<style>
  .footer {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 50;
    pointer-events: none; /* Allow clicks to pass through empty space */
  }

  .controls {
    display: flex;
    gap: 1rem;
    pointer-events: auto;
  }
</style>
